@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,500;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,900&family=Poppins:ital,wght@0,300;0,700;1,100;1,400;1,700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(127, 255, 165);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  background-color: rgb(56, 48, 48);
  color: white;
  margin: 20px;
  padding: 15px;
  border-radius: 16px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
.btn:focus {
  outline: none;
}
